# Ignore all data directories by default
data/

# --- Exceptions ---
# Un-ignore the neuro_pilot/data python module
!/neuro_pilot/data/

# Un-ignore the minio_data directory for .gitkeep tracking
!/tools/labeler/data/
/tools/labeler/data/*
!/tools/labeler/data/minio_data/


# --- Standard Ignores ---
__pycache__/
*.pth
*.pt
experiments/
.venv/
.env
.DS_Store
ultralytics/
.log
tools/labeler/exports/
tools/labeler/labels.db
*.db
/.mypy_cache
/.ruff_cache
