# Ignore SQLite database
*.db
*.db-journal
*.db-shm
*.db-wal

# Ignore all image data in these folders
raw/*
uploads/*
exports/*
train/*
val/*
test/*
minio_data/*

# But keep the folders themselves
!.gitkeep
