services:
  minio:
    image: minio/minio
    container_name: neuropilot-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
